<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="studentdetail" class="com.StudentDetail">
    	<property name="sCityName" value="Ahmedabad"></property>
    	<property name="sCitypincode" value="382424"></property>
    </bean>
	<bean id="dt" class="java.util.Date"></bean>
	<bean id="student" class="com.StudentBean" scope="prototype">

		<property name="sId" value="101"></property>
		<property name="sName" value="ajayraj"></property>
		<property name="sBirthDate" ref="dt"></property>
		<property name="detail" ref="studentdetail"></property>
		<property name="sHobbies">
			<list>
				<value>Dancing</value>
				<value>Swimming</value>
				<value>Reading</value>			
				<value>Drawing</value>					
			</list>
		</property>
		<property name="sRanks">
			<map>
				<entry key="1" value="ajayraj"></entry>
				<entry key="2" value="ravi"></entry>
				<entry key="3" value="rajan"></entry>
				<entry key="4" value="rakesh"></entry>
			</map>
		</property>
	</bean> 

</beans>